

<form >

</form>
<div class="panel">
	<div class="inner">
		<form id="create_topic_form" method="POST" action="/admin/article/<%= article._id %>/edit" >
				<div class="titlex">
						<label class="bold" for="title">标题</label>
						<div>
							<textarea id="title" class="span8" rows="3" name="title"><%= title %></textarea>
						</div>
					</div>
					<div class="sep10"></div>
					<div class="sep10"></div>
					<div>
						<label class="bold" for="t_content">内容和标签</label>
						<div class="tabbable">
							<ul class="nav nav-pills">
								<li class="active">
									<a data-toggle="pill" href="#markdown">markdown</a>
								</li>
								<li>
									<a class="preview-btn" data-toggle="pill" href="#preview">预览</a>
								</li>
								<li>
									<a data-toggle="pill" href="#tags">标签</a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="markdown" class="active tab-pane">
									<div id="wmd-button-bar"></div>
									<div class="input">
										<textarea id="wmd-input" class="span8" rows="20" name="t_content"><%= content %></textarea>
									</div>
								</div>
								<div id="preview" class="tab-pane">
									<div id="wmd-preview" class="wmd-preview topic-wmd-preview"></div>
								</div>
								<div id="tags" class="tab-pane">
									<div class="tags_select">
										<%- include ../tag/tag_list  %> 
									</div>
								</div>								
							</div>						
						</div>						
					</div>					
						
					
					<div>
						<label class="bold" for="category">选择目录</label>
						<select id="category_select">
							<%- include ../category/category_list %>
			 			</select>
					</div>	 	
					
					<input id="topic_tags" type="hidden" value="" name="article_tags">
					<input id="topic_category" type="hidden" value="" name="category">
					<div class="form-actions">
						<button id="submit_btn" class="btn">发布</button>
					</div>
		</form>
	</div>
</div>
<script src="/js/ajaxupload.js"></script>
<script src="/js/showdown.js"></script>
<script src="/js/Markdown.Converter.js"></script>
<script src="/js/Markdown.Editor.js"></script>
<script>
$(document).ready(function(){
	var valueca = $("#category_select option:selected").val();
	var textca = $("#category_select option:selected").text();
	$("#category_select option:selected").remove();
	$("#category_select").prepend('<option value ='+ valueca + '>'+textca+'</option>');
	$("#category_select").val(valueca);
  var editor;
  function run_md_editor(){   
    var converter = new Showdown.converter();
    editor = new Markdown.Editor(converter);
    editor.run();
  }
  run_md_editor();
  $('.preview-btn').click(function(){
    editor.makePreviewHtml();
	prettyPrint();
  });

  $('.tag_selectable').click(function(){
    $(this).toggleClass('tag_select');
  });

  $('#submit_btn').click(function(){
    var values=[];
    $('.tag_selectable').each(function(){
      if($(this).hasClass('tag_select')){
        values.push($(this).attr('tag_id'));
      }
    });
    $('#topic_tags').val(values);
    var valuefoo = $("#category_select").val();
    $('#topic_category').val(valuefoo); 
    alert(valuefoo);   
    $('#create_topic_form').submit();
  });
});
</script>
	
			

	
