<aside id="category" class="widget_category widget">
	<div class="widget_body">
		<h1>文章目录</h1>
		<ul>
			<% for(var i = 0; i < category.length; i++ ){%>
				<li><a href="/category/<%= category[i].id %>"><%= category[i].content %></a></li>
			<%}%>
		</ul>
	</div>
</aside>
<aside id="tag_clound" class="widget_tag_clound widget">
	<div class="widget_body">
		<h1>标签</h1>
		<div class="tagcloud">
			<% for(var i=0;i<tags.length;i++) {%>
				<a href="/tag/<%= tags[i]._id %>" class="tag_have_<%= tags[i].article.length%>" title="<%= tags[i].article.length%> topics"><%= tags[i].name %>
				</a>
			<% } %>
	</div>
</aside>
<aside id="link_list" class="widget_link_list widget">
	<div class="widget_body">
		<h1>链接</h1>
		<ul>
			<li><a href="http://www.v2ex.com/?r=zs">V2EX</a></li>
			<li><a href="https://50.116.13.150:1433/info/manual/">VPN</a></li>
			<li><a href="http://hi.baidu.com/yhfaith">杂记(一些细节的知识)</a></li>
		</ul>
	</div>
</aside>
<% if(locals.user) {%>
	<aside id="admin" class="widget_admin widget">
		<div class="widget_body">
			<h1>Admin</h1>
			<ul>
				<li>
					<a href="/admin/article/operate_article">后台管理</a>
				</li>
				<li>
					<a href="/admin/article/create">写文章</a>
				</li>
				<li>
					<a href="/logout">注销</a>
				</li>
			</ul>
		</div>
	</aside> 
<%}%>

