<div class="panel">
	<div class="header">
		<ul class= "breadcrumb">关于
			<li><br/></li>
		</ul>
		
	</div>
	<div id = "siteinfo" class="inner">
		<p>TEST_BLOG</p>
		<p>基于Nodejs expressjs markdown</p>
	</div>
</div>
<div class="panel">
	<div class="header">
		<span>文章分类</span>
	</div>
	<div class="inner">
		<ul class="divider">
			<% for(var i = 0; i < category.length; i++ ) { %>
			<li><a href="/category/<%= category[i].id%>" ><%= category[i].content %></a>
			</li>
			<% } %>
		</ul>
	</div>	
</div>
<div class="panel" id="tagarticle">
	<div class="header">
		<span>文章标签</span>
	</div>
	<div class="inner">
		<ul class="tags">
		<% for(var i=0; i< tags.length; i++) { %>
			<a href="/tag/<%= tags[i]._id%>" class="tag" tag_id="<%= tags[i]._id %>"> <%= tags[i].name %>
			</a> 
		<% } %>
		</ul>
	</div>
</div>
<div class="panel" id="rhapsodyzs" style="position:static;top:15px">
	<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=2&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2703621882&verifier=e300faf4&dpc=1"></iframe>
</div>
<script src="/js/sidebar-follow.js"></script>
<script>
(new SidebarFollow()).init({
	element:$("#rhapsodyzs"),
	prevElement:$("#tagarticle"),
	distanceToTop:5
});
</script>