<!--div id="sidebar">
	<%- include ../sidebar %>
</div>
<div id="content">
	<div class = "panel">
		<div class="header">
			<ul class="breadcrumb">
				<li>
					<a href="/">主页</a>
					<span class="divider">/</span>
				</li>
				<li class="active">
					<a href="/category/<%= id %>"><%= name %></a>
				</li>
			</ul>
		</div>
		<div class="inner">
			<%- include ../article/list %>
		</div>
	</div>	
</div-->
<header class="archive_title clear">
	<hgroup>
		<div class="archive_title_meta">
			<h2>Archive</h2>
		</div>
		<div class="archive_title_name">
			<h1>Category Achive:<%= name%></h1>
		</div>
	</hgroup>
</header>
<%- include ../article/list %>

