<div id="edit_admin">

</div>
<article id="article" class="post clear">
	<header class="article_header">
		<h1>
			<a title="<%= article.title %>" href="/article/<%= article.title %>"><%= article.title %></a>
		</h1>
		<div class="article_data">
			<% var t = article.publishtime;
				 var tm = t.getMinutes() < 10? '0'+t.getMinutes() : t.getMinutes();
				 var tyue =  t.getMonth() + 1;
				 var time = t.getFullYear()+'-'+tyue+'-' + t.getDate()+'  '+ t.getHours() +':'+ tm ;%>
			<div class="article_post_date">
				<span class="article_post_date_link"><%= time %></span>
			</div>
			<div class="article_post_tag">
				<% if(article.tag.name){ %>
					<a title="view all articles in <%= article.tag.name %>" href="/tag/<%= article.tag[j]._id %>"><%= article.tag.name %></a>
				<%} else if(article.tag.length > 0){%>
					<% for(var j = 0; j < article.tag.length; j++) {%>
						<a class="article_tag_style" title="view all articles in <%= article.tag[j].name%>" href="/tag/<%= article.tag[j]._id %>"><%= article.tag[j].name %></a>
					<% } %>
				<% } %>
			</div>
			<% if(locals.user) {%>
				<div class="admin_edit">
					<a href="/admin/article/<%= article._id %>/edit">编辑</a>
				</div>
			<%}%>
		</div>
	</header>
	<div class="article_content">
		<%- content %>
	</div>




<script>
(function()
{prettyPrint();})()
</script>			
